@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --full-height: 100vh;
    --full-width: 100vw;
    --primary-color: #24fff4;
    --secondary-color: #2b2b2b;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: var(--full-height);
    width: var(--full-width);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* three.js canvas */
#three-canvas {
    background-image: radial-gradient(#003d5e, #000000);
    width: 100vw;
    height: 100vh;
}

/* 出典表示 */
#attribute {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 75%);
    color: #ffffff;
    font-size: 14px;
    user-select: none;
    pointer-events: none;
    overflow-x: hidden;
}
#attribute .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
}
#attribute span {
    white-space: nowrap;
}

#attribute a,
a:visited {
    color: #ffffff;
    pointer-events: auto;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #333;
    border-radius: 50%;
    border-top-color: #24fff4;
    transform-origin: center;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ジョイスティックコントロール */
#joystick-control {
    display: none;
}

/* キーコントロールボタン */
.key-control {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: 30px;
    width: 140px;
    height: 140px;
    transition: all 0.3s;
    pointer-events: none;
}
.key-control > .key-item {
    transition: all 0.15s;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    --angle: calc(360deg / 4 * var(--index));
    --x: calc(cos(var(--angle)) * 50px);
    --y: calc(sin(var(--angle)) * 50px);
    translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
    user-select: none;
    color: #ffffff;
    background-color: #2b2b2b;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.key-control > .active {
    background-color: #24fff4;
    filter: drop-shadow(0 0 5px #24fff4);
}
.key-control.hidden {
    translate: -100px 0;
    opacity: 0;
    pointer-events: none;
}

/* 操作ガイド */
#operation-guide {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    right: 20px;
    color: #ffffff;
    padding: 20px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    /* place-items: end; */
    background-color: #2b2b2b;
    border-radius: 10px;
    gap: 10px;
    transition: translate 0.3s, opacity 0.3s;
}

#operation-guide.hidden {
    translate: 0 100px;
    opacity: 0;
}

#operation-guide > .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#operation-guide > .header > #guide-close-button {
    pointer-events: auto;
    cursor: pointer;
}
#operation-guide > .right,
#operation-guide > .left,
#operation-guide > .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#operation-guide .text {
    width: 100%;
    margin-right: auto;
    text-align: left;
}

#operation-guide > .left svg > #left {
    fill: #24fff4;
}

#operation-guide > .right svg > #right {
    fill: #24fff4;
}
#operation-guide > .left svg > #center,
#operation-guide > .right svg > #center {
    fill: #2b2b2b;
}
#operation-guide > .center svg > #center {
    fill: #24fff4;
}

#operation-guide.player-view > .right {
    display: none;
}

#operation-guide.player-view > .far-view-keyboard {
    display: none;
}

#operation-guide.far-view > .player-keyboard {
    display: none;
}

/* 地図 */
#map-container {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: scale 0.3s;
    filter: drop-shadow(0 0 5px #24fff4);
}
#map-container:is(.active) {
    top: 0;
    left: 0;
    border-radius: 0;
    filter: none;
}
@media (hover: hover) and (pointer: fine) {
    #map-container:not(.active):hover {
        scale: 1.1;
    }
}
#map-container #map {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#map-container.active {
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: map-slide 0.3s;
    display: grid;
    place-items: center;
    background-color: #00000098;
    transition: none;
}

#map-container.active #map {
    max-width: 90%;
    height: 90%;
    border-radius: 10px;
    pointer-events: auto;
}
@keyframes map-slide {
    from {
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes map-open {
    from {
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes map-c {
    from {
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

#map-container.hidden {
    translate: -100px 0;
    opacity: 0;
    pointer-events: none;
}
#map-open-button {
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0;
}
#map-container.active #map-open-button {
    display: none;
}
#map-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: grid;
    place-items: center;
    font-size: 2rem;
    transition: all 0.3s;
    z-index: 10;
    color: #2b2b2b;
    cursor: pointer;
}
#map-close-button.hidden {
    display: none;
}

/* メニューバー */
#menu-bar {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
}
#menu-bar > button {
    padding: 15px;
    border-radius: 50%;
    background-color: #2b2b2b;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
    pointer-events: auto;
}
#menu-bar > button {
    padding: 15px;
    border-radius: 50%;
    background-color: #2b2b2b;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
    pointer-events: auto;
}
#menu-bar > button > svg {
    width: 32px;
    height: 32px;
}

@media (hover: hover) and (pointer: fine) {
    #menu-bar > button:hover {
        background-color: #24fff4;
    }
}

#menu-bar > #view-button.player-view > #far-view {
    display: none;
}

#menu-bar > #view-button.far-view > #player-view {
    display: none;
}

/* 地図キャンバス */
.maplibregl-canvas {
    outline: none;
}

/* 地図コントロール */
.maplibregl-ctrl-top-left {
    display: none;
}
.maplibregl-ctrl-bottom-right {
    display: none;
}
body:has(#map-container.active) .maplibregl-ctrl-top-left {
    display: block;
}
body:has(#map-container.active) .maplibregl-ctrl-bottom-right {
    display: block;
}

/* 現在地マーカー*/
.player-marker {
    z-index: 10;
}
.player-marker > svg {
    transform-origin: center;
    scale: 0.5;
    filter: drop-shadow(0 0 5px #24fff4);
}
.player-marker > svg > path {
    fill: #24fff4;
}

/* カメラ角度マーカー */
.camera-angle-marker {
    width: 160px;
    height: 160px;
}

.camera-angle-marker > .camera-angle {
    width: 80px;
    height: 80px;
    transform-origin: bottom right;
    /* rotate: 45deg; */
    opacity: 0.6;
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgb(205, 223, 2) 0%, rgba(205, 223, 2, 0) 65%, rgba(0, 0, 0, 0) 100%);
    border-top-left-radius: 80px;
}

.camera-angle-marker > .camera-angle.hidden {
    display: none;
}

/* ポップアップ */
.maplibregl-popup-content {
    background-color: #00000091 !important;
    color: #ffffff !important;
    animation: popup 0.3s;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: #00000091 !important;
    animation: popup 0.3s;
}
@keyframes popup {
    0% {
        translate: 0 -10px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.popup-button {
    background-color: #24fff4;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
