/* タブレット、モバイル */
@media (max-width: 1280px) {
    /* スマホのスワイプリロード無効 */
    /* スマホのタップのハイライト非表示 */
    * {
        overscroll-behavior-y: none !important;
        -webkit-tap-highlight-color: transparent;
    }

    #map-container {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        top: 10px;
        left: 10px;
    }

    #operation-guide {
        display: none;
    }

    .key-control {
        display: none;
    }

    #joystick-control.hidden {
        opacity: 0;
        pointer-events: none;
    }
    #joystick-control > .joystick-frame {
        width: 130px;
        height: 130px;
        border-radius: 100rem;
        border: 2px white solid;
    }
    #joystick-control > .joystick-ball {
        pointer-events: auto;
        width: 80px;
        height: 80px;
        /* background: white; */
        border-radius: 100rem;
        position: absolute;
        filter: drop-shadow(0 0 5px #24fff4);
        display: grid;
        place-items: center;
    }
    #joystick-control > .joystick-ball > .joystick-ball-inner {
        pointer-events: none;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 100rem;
        position: absolute;
        filter: drop-shadow(0 0 5px #24fff4);
    }
    #joystick-control > .triangle {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        --angle: calc(360deg / 4 * var(--index));
        --d: 50px;
        --x: calc(cos(var(--angle)) * var(--d));
        --y: calc(sin(var(--angle)) * var(--d));
        translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
        rotate: calc(var(--angle) + 90deg);
        user-select: none;
        pointer-events: none;
        background: #ffffff;
        height: calc(tan(60deg) * 10px / 2);
        width: 19px;
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }

    #menu-bar > #help-button {
        display: none;
    }

    #menu-bar > #fullscreen-button {
        display: block;
    }
}

/* タブレット*/
@media (min-width: 769px) and (max-width: 1280px) {
    #joystick-control {
        display: block;
        position: absolute;
        z-index: 10;
        width: 220px;
        height: 240px;
        bottom: 0;
        pointer-events: none;
        display: grid;
        place-items: center;
    }

    #joystick-control > .key-item {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        --angle: calc(360deg / 4 * var(--index));
        --x: calc(cos(var(--angle)) * 50px);
        --y: calc(sin(var(--angle)) * 50px);
        translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
        user-select: none;
        pointer-events: none;
        color: #ffffff;
    }

    #joystick-control > .triangle {
        display: none;
    }
}

/* モバイル */
@media (max-width: 768px) {
    #joystick-control {
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 240px;
        bottom: 0;
        pointer-events: none;
        display: grid;
        place-items: center;
    }

    #joystick-control > .key-item {
        display: none;
    }

    #menu-bar > #layer-button {
        display: none;
    }

    #attribute .wrap {
        animation: loop-slide 20s infinite linear, text-feed 20s infinite;
        justify-content: center;
    }

    #attribute a {
        pointer-events: none;
    }

    @keyframes loop-slide {
        from {
            transform: translateX(120%);
        }
        to {
            transform: translateX(-120%);
        }
    }

    @keyframes text-feed {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* メニューバー */
    #menu-bar {
        inset: auto;
        bottom: 50px;
        right: 30px;
        gap: 10px;
    }
    #menu-bar > button {
        padding: 15px;
    }
    #menu-bar > button {
        padding: 10px;
    }
    #menu-bar > button > svg {
        /* width: 24px;
        height: 24px; */
    }

    #menu-bar > #github-button {
        display: none;
    }
}

/* スマホ横 */
@media (max-height: 300px) {
    #map-container {
        display: none;
    }

    #menu-bar > #github-button {
        display: none;
    }
}
