@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --full-height: 100vh;
    --full-width: 100vw;
    --primary-color: #24fff4;
    --secondary-color: #2b2b2b;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: var(--full-height);
    width: var(--full-width);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* three.js canvas */
#three-canvas {
    background-image: radial-gradient(#003d5e, #000000);
    width: 100vw;
    height: 100vh;
}

/* 出典表示 */
#attribute {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 75%);
    color: #ffffff;
    font-size: 14px;
    user-select: none;
    pointer-events: none;
    overflow-x: hidden;
}
#attribute .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
}
#attribute span {
    white-space: nowrap;
}

#attribute a,
a:visited {
    color: #ffffff;
    pointer-events: auto;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #333;
    border-radius: 50%;
    border-top-color: #24fff4;
    transform-origin: center;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ジョイスティックコントロール */
#joystick-control {
    display: none;
}

/* キーコントロールボタン */
.key-control {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: 30px;
    width: 140px;
    height: 140px;
    transition: all 0.3s;
    pointer-events: none;
}
.key-control > .key-item {
    transition: all 0.15s;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    --angle: calc(360deg / 4 * var(--index));
    --x: calc(cos(var(--angle)) * 50px);
    --y: calc(sin(var(--angle)) * 50px);
    translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
    user-select: none;
    color: #ffffff;
    background-color: #2b2b2b;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.key-control > .active {
    background-color: #24fff4;
    filter: drop-shadow(0 0 5px #24fff4);
}
.key-control.hidden {
    translate: -100px 0;
    opacity: 0;
    pointer-events: none;
}

/* タブレット、モバイル */
@media (max-width: 1280px) {
    /* スマホのスワイプリロード無効 */
    /* スマホのタップのハイライト非表示 */
    * {
        overscroll-behavior-y: none !important;
        -webkit-tap-highlight-color: transparent;
    }

    #joystick-control.hidden {
        opacity: 0;
        pointer-events: none;
    }
    #joystick-control > .joystick-frame {
        width: 130px;
        height: 130px;
        border-radius: 100rem;
        border: 2px white solid;
    }
    #joystick-control > .joystick-ball {
        pointer-events: auto;
        width: 80px;
        height: 80px;
        /* background: white; */
        border-radius: 100rem;
        position: absolute;
        filter: drop-shadow(0 0 5px #24fff4);
        display: grid;
        place-items: center;
    }
    #joystick-control > .joystick-ball > .joystick-ball-inner {
        pointer-events: none;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 100rem;
        position: absolute;
        filter: drop-shadow(0 0 5px #24fff4);
    }
    #joystick-control > .triangle {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        --angle: calc(360deg / 4 * var(--index));
        --d: 50px;
        --x: calc(cos(var(--angle)) * var(--d));
        --y: calc(sin(var(--angle)) * var(--d));
        translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
        rotate: calc(var(--angle) + 90deg);
        user-select: none;
        pointer-events: none;
        background: #ffffff;
        height: calc(tan(60deg) * 10px / 2);
        width: 19px;
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
}

/* タブレット*/
@media (min-width: 769px) and (max-width: 1280px) {
    #joystick-control {
        display: block;
        position: absolute;
        z-index: 10;
        width: 220px;
        height: 240px;
        bottom: 0;
        pointer-events: none;
        display: grid;
        place-items: center;
        transition: all 0.3s;
    }

    #joystick-control > .key-item {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        --angle: calc(360deg / 4 * var(--index));
        --x: calc(cos(var(--angle)) * 50px);
        --y: calc(sin(var(--angle)) * 50px);
        translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
        user-select: none;
        pointer-events: none;
        color: #ffffff;
    }

    #joystick-control > .triangle {
        display: none;
    }
}

/* モバイル */
@media (max-width: 768px) {
    #joystick-control {
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 240px;
        bottom: 0;
        pointer-events: none;
        display: grid;
        place-items: center;
        transition: all 0.3s;
    }

    #joystick-control > .key-item {
        display: none;
    }

    #attribute .wrap {
        animation: loop-slide 20s infinite linear, text-feed 20s infinite;
        justify-content: center;
    }
}
